// footer

footer{
    padding: 80px 0;
    background-image: url('../images/footer-background.jpg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: contain;
    .footer-section{
        width:$container-l;
        display:flex;
        flex-wrap:wrap;
        margin: 0 auto;
        @media screen and (max-width:1200px){
            width:100%;
        }
        .foot-box{
            width:calc((100% / 3) - 10px);
            margin: 10px 10px;
            @media screen and (max-width:1200px){
                width:calc(100%  - 10px);
            }
            
        }
    }   
}

.foot-box{
    li{
        a{
            color:$text-grey;
        }
    }
}
.footer-list li{
    line-height:28px;
    &:first-of-type{
        font-size:$text-lg;
        color:#707a90;
        margin: 10px 0;
    }
}